* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

img {
  height: 30px;
  
}

#textSearch {
  font-size: 28pt;
  background: none;
  border: none;
  border-bottom: 1px solid grey;
  width: 800px;
  height: 50px;
  
}

#textSearch:focus {
  font-size: 28pt;
  background: none;
  border: none;
  border-bottom: 1px solid grey;
  width: 800px;
  height: 50px;
  outline:none; 
}

#itemContainer {
  font-size: 32pt;
}