* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

img {
  margin: 200px 0 0 200px;
  height: 40px;
  
}

#textSearch {
  margin: 0;
  background: none;
  border: none;
  border-bottom: 1px solid grey;
  width: 800px;
  height: 30px;
  
}

#textSearch:focus {
  margin: 0;
  background: none;
  border: none;
  border-bottom: 1px solid grey;
  width: 800px;
  height: 30px;
  outline:none; 
}